<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>


    <h2>Something went wrong!!</h2>
    <p>
      <%= status %>
    </p>
    <p>
      <%= message %>
    </p>


    <%- include('../partials/foot') %>