<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

  <main class="main main--list">

    <h2>shift dashboard</h2>

    <section class="accordion accordion-flush" id="list_shifts">

      <% shifts.forEach(item => { %>

        <article class="accordion-item">
          <h2 class="accordion-header" id="heading_<%= item.id %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#heading_<%= item.id %>" aria-expanded="false" aria-controls="heading_<%= item.id %>">
              <%= item.date_formatted %>
            </button>
          </h2>        
          <div id="content_<%= item.id %>" class="accordion-collapse collapse" aria-labelledby="content_<%= item.id %>" data-bs-parent="#list_shifts">
            <div class="accordion-body">Content for shift: <%= item.date_formatted %></div>
          </div>  
        </article>

      <% }); %>

    </section>




  </main>


    <%- include('../partials/foot') %>