<%- include ('../partials/head') %>
<%- include ('../partials/header') %>


<h2>shift update</h2>
<p>date: <%= shift.date_formatted %> </p>
<p>items: <%= shift.items %></p>
<p>rate: <%= shift.rate %></p>
<p>status: <%= shift.active ? 'active' : 'inactive' %></p>


<%- include('../partials/foot') %>