<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>


    <h2>shift dashboard</h2>

    <ul>
      <% shifts.forEach((item)=> { %>

        <li>
          <p><a href="/shifts/<%= item.id %>">
              <%= item.date_formatted %>
            </a> <a class="btmn btn-outline-primary" href="/shifts/<%= item.id %>/update">update</a>
            <button type="button" class="btn btn-secondary btn-fetch" data-shift="<%= item.id %>" data-method="DELETE"
              id="shift_<%= item.id %>">delete</button>
          </p>
        </li>

        <% }) %>
    </ul>


    <%- include('../partials/foot') %>