<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

    <h2>shift dashboard</h2>

    <% if(shifts.length) { %>

      <table class="table">
        <thead>
          <tr>
            <td><a class="btn btn-sm btn-secondary" href="/shifts?sort=date">+</a> <a class="btn btn-sm btn-secondary" href="/shifts?sort=-date">-</a> date</td>
            <td>items</td>
            <td>rate</td>
            <td>comments</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% shifts.forEach(item => { %>
  
            <tr id="<%= item.id %>">
              <td><a href="/<%= item.id %>"><%= item.date_formatted %></a></td>
              <td><%= item.items %></td>
              <td><%= item.rate %></td>
              <td><%= item.comments %></td>
              <td><button class="btn btn-link btn-fetch" data-confirm="Delete <%= item.date_formatted %>? If yes, click 'ok'." data-action="/api/shifts/<%= item.id %>" data-method="DELETE">delete</button></td>
            </tr>
  
            <% }); %>
  
        </tbody>
      </table>      

   <% } else { %>

    <p>no shifts</p>

  <% } %>


<%- include('../partials/foot') %>