<%- include ('../partials/head') %>
  <%- include ('../partials/header') %>

  <% if(fields === "items") { %>


    
  <% }  else { %> 


  
  <% } %>

  <section class="card--update">

    <form method="PUT" action="/api/shifts/<%= shift.id %>" enctype="application/json" class="form card">
      <div class="card-header bg-dark text-light d-flex justify-content-between">
        <span><%= shift.date_formatted %></span><span class="badge bg-secondary"><%= shift.items %> items</span>
      </div>  
      <div class="card-body row mt-1">
        <div class="col-md-9">
          <input type="number" class="form-control" id="items" name="items" placeholder="add items">
        </div> 
        <div class="col-md-3">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-secondary">add</button>
          </div>          
        </div>          
      </div>  
      </form>
      
  </section>
  
    

    <%- include('../partials/foot') %>