<%- include ('../partials/head') %>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DPM Shift Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/logout">logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>

  <main>
    <section>
      <form class="form card mt-5 mb-5" class="form" id="form_shifts_post" action="/api/shifts" method="POST"
        enctype="application/json" target="/">
        <div class="card-header">
          start new shift
        </div>
        <div class="card-body">
          <div class="input-group">
            <input type="datetime-local" class="form-control" name="date">
            <button class="btn btn-outline-secondary" type="submit">start</button>
          </div>
        </div>
      </form>
    </section>
    <section class="current_shift">
      <article class="card mb-5">
        <div class="card-header">
          current shift
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= date %>
          </h5>
          <p class="card-text"><b>items: </b>
            <%= items %> <b>rate: </b>
              <%= rate %>
          </p>
          <form class="form mb-5" id="form_shifts_update" action="/api/shifts/<%= id %>" method="PUT"
            enctype="application/json" target="/">


            <div class="input-group">
              <input type="number" class="form-control" name="items">
              <button class="btn btn-outline-secondary" type="submit">add items</button>
            </div>

          </form>
          <form class="form mt-3" id="form_shifts_rate" action="/api/shifts/<%= id %>/rate" method="GET"
            enctype="application/json" target="/">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">calculate rate</button>
            </div>
          </form>
          <form class="form mt-3" id="form_shifts_delete" action="/api/shifts/<%= id %>" method="DELETE"
            enctype="application/json" target="/">
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="submit">delete current shift</button>
            </div>
          </form>
        </div>
      </article>
    </section>

    <section>

      <div class="card mt">
        <div class="card-header">
          list of shifts
        </div>
        <div class="card-body">
          <table class="table table-striped">

            <thead>
              <tr>
                <th>date</th>
                <th>items</th>
                <th>rate</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% shifts.forEach(item=> { %>
                <tr>
                  <td>
                    <%= item.date_formatted %>
                  </td>
                  <td>
                    <%= item.items %>
                  </td>
                  <td>
                    <%= item.rate %>
                  </td>
                  <td>
                    <form class="form" id="form_shifts_delete" action="/api/shifts/<%= item.id %>" method="DELETE"
                      enctype="application/json" target="/">
                      <button type="submit" class="btn btn-secondary">delete</button>
                    </form>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>



    </section>



  </main>



  <%- include('../partials/foot') %>