<%- include ('../partials/head') %>

<header>
  <h1>DPM SHIFT TRACKER</h1>
  <p><span><small><a href="/logout">logout</a></small></span></p>
</header>
<main>
  <form 
    class="form" 
    id="form_shifts_post" 
    action="/api/shifts" method="POST" enctype="application/json" 
    target="/">
  <fieldset>
    <legend>start new shift</legend>
    <label for="date">
      
      <input type="datetime-local" id="date" name="date">
    </label>
    <button type="submit">start</button>
  </fieldset>
</form>

<form 
  class="form" 
  id="form_shifts_update" 
  action="/api/shifts/123" method="PUT" enctype="application/json" 
  target="/">
  <fieldset>
    <legend>current shift</legend>
    <p><%= date %> </p>
    <p>items: <%= items %></p>
    <p>rate: <%= rate %></p>
  </fieldset>
  <fieldset>
  <legend>add items</legend>
  <input type="number" id="items" name="items">
  <button type="submit">add</button>
  </fieldset>
</form>

</main>

<%- include('../partials/foot') %>